@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap");
html {
  font-size: 10px;
}

body {
  background: #b2b2b2;
}

a:hover {
  color: #ffbb00;
}

.title {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 7.2rem;
  color: #fff;
}
.title span {
  position: relative;
}
.title span::after {
  content: "";
  position: absolute;
  right: -1.6rem;
  bottom: 2.2rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 20px;
  background: #f6ad09;
}

.item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #b2b2b2;
}

.main {
  max-width: 1600px;
  margin: 0 auto;
}
.main .header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #000;
  box-sizing: border-box;
  padding: 3rem 14.19% 3.2rem 13.75%;
}
.main .header .logo {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 3.2rem;
  color: #fff;
}
.main .header .nav {
  justify-self: flex-end;
}
.main .header .nav__list {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3.2rem;
  display: flex;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
.main .header .nav__link {
  color: #fff;
  transition: all 0.2s linear;
}
.main .header .nav__link:hover {
  color: #ffbb00;
}
.main .block-one {
  position: relative;
  box-sizing: border-box;
  padding: 9.56% 0 6.63% 13.75%;
  background: #000;
}
.main .block-one::before {
  content: "";
  width: 40%;
  position: absolute;
  top: 0rem;
  right: 9.72%;
  background: url("../img/img1.png") 0 0/100% no-repeat;
  padding-top: 50%;
}
.main .block-one__left {
  width: 37.75%;
}
.main .block-one .item {
  margin-top: 3.2rem;
}
.main .block-one__btn {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #332200;
  border: none;
  outline: none;
  background: #f6ad09;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1.9rem 3.2rem 1.6rem 2.9rem;
  margin-top: 3.2rem;
}
.main .block-two {
  background: #fff;
  box-sizing: border-box;
  padding: 9.6% 4.38% 12.81%;
}
.main .block-two .title {
  box-sizing: border-box;
  padding-left: 12.81%;
  color: #111111;
}
.main .block-two .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  box-sizing: border-box;
  padding-top: 2.75%;
}
.main .block-two .card__title {
  position: relative;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #111111;
  box-sizing: border-box;
  padding-left: 3.1rem;
  margin-top: 1.5rem;
}
.main .block-two .card__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 2.2rem;
  height: 1rem;
  background: #f6ad09;
}
.main .block-two .card__item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #595959;
  box-sizing: border-box;
  padding-left: 3.1rem;
  margin-top: 1rem;
}
.main .block-three {
  position: relative;
  box-sizing: border-box;
  padding: 5.06% 0 5.94% 13.19%;
  background: #111111;
}
.main .block-three::after {
  content: "";
  position: absolute;
  top: -8.7rem;
  right: 4.38%;
  width: 43.75%;
  padding-top: 70%;
  background: url("../img/diferencial1.png") 0 0 no-repeat;
}
.main .block-three__left {
  width: 39%;
}
.main .block-three__left-caption {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: #b2b2b2;
}
.main .block-three__left .title {
  max-width: 51.9rem;
  margin-top: 1.9rem;
}
.main .block-three__left .item {
  max-width: 53.7rem;
  margin-top: 4.3rem;
}
.main .block-three__left-choise {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #ffbb00;
  margin-top: 2.8rem;
}
.main .block-three__left .choise-models {
  display: flex;
  gap: 4.3rem;
  margin-top: 6.9rem;
}
.main .block-three__left .choise-models__card {
  max-width: 25.8rem;
}
.main .block-three__left .choise-models__title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  color: #fff;
}
.main .block-three__left .choise-models__item {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #b2b2b2;
  margin-top: 1.6rem;
}
.main .block-four {
  background: #fff;
  box-sizing: border-box;
  padding: 7.88% 4.38% 6.75%;
}
.main .block-four .title {
  box-sizing: border-box;
  padding-left: 12.81%;
  color: #111111;
}
.main .block-four__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, 34.9rem);
  justify-content: space-evenly;
  -moz-column-gap: 2.1rem;
       column-gap: 2.1rem;
  row-gap: 1.3rem;
  margin-top: 4.3rem;
}
.main .block-five {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  -moz-column-gap: 7.4rem;
       column-gap: 7.4rem;
  align-items: flex-end;
  background: #ffbb00;
}
.main .block-five__right {
  max-width: 51rem;
  min-height: 37.7rem;
  padding-bottom: 5.5%;
  box-sizing: border-box;
}
.main .block-five__text {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 4.8rem;
  color: #332200;
}
.main .block-five__signature {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #664400;
  margin-top: 1.7rem;
}
.main .block-six {
  background: #161616;
  box-sizing: border-box;
  padding: 4.56% 1.88% 6.25%;
}
.main .block-six .title {
  box-sizing: border-box;
  padding-left: 13.06%;
}
.main .block-six__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 4.1rem;
       column-gap: 4.1rem;
  align-items: center;
  margin-top: 3.6rem;
}
.main .block-six__left, .main .block-six__right {
  justify-self: flex-end;
  width: 45.6rem;
  background: #000000;
  border-radius: 7px;
  box-sizing: border-box;
  padding: 3.3rem 2.8rem 2.8rem 5.4rem;
}
.main .block-six__right {
  justify-self: flex-start;
}
.main .block-six__card-title {
  display: flex;
  justify-content: space-between;
}
.main .block-six__card-title-left {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.8rem;
  color: #9c9c9c;
}
.main .block-six .gold {
  color: #ffbb00;
}
.main .block-six__card-title-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.main .block-six__card-title-right .price {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.8rem;
  color: #9c9c9c;
  color: #fff;
}
.main .block-six__card-title-right .string {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.8rem;
  color: #9c9c9c;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.main .block-six__card-item {
  position: relative;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-top: 1.8rem;
}
.main .block-six__card-item::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 0.5rem;
  top: 0.9rem;
  left: -2.2rem;
  background: #ffbb00;
}
.main .block-six__card-btn {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #cccccc;
  text-transform: uppercase;
  background: #2e2e2e;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1.5rem 2.8rem;
  margin-top: 4.1rem;
}/*# sourceMappingURL=style.css.map */