@mixin fontTitle {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 63px;
  line-height: 72px;
  color: $white;
}

@mixin fontItem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: $gray;
}

@mixin titleBlack {
  box-sizing: border-box;
  padding-left: 12.81%;
  color: #111111;
}

@mixin dot {
  span {
    position: relative;
  }
  span::after {
    content: "";
    position: absolute;
    right: -6%;
    bottom: 25%;
    width: 4%;
    height: 10%;
    border-radius: 20px;
    background: $yellow;
  }
}

@mixin yellowRectangle {
  content: "";
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 2.2rem;
  height: 1rem;
  background: $yellow;
}

@mixin fontPrata {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #9c9c9c;
}
