@media (max-width: 992px) {
  .main {
    .header,
    .block-one,
    .block-two,
    .block-four,
    .block-six {
      padding-right: 3rem;
      padding-left: 3rem;
    }
    .title {
      font-size: 4.3rem;
      line-height: 5.2rem;
    }
    .header {
      .nav__list {
        display: none;
      }
    }
    
    .block-two {
      .title {
        text-align: center;
        padding: 0;
      }
    }
    .block-four {
      &__block {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      }
    }
    .block-six {
      .title {
        text-align: center;
        padding: 0;
      }

      &__cards {
        grid-template-columns: 1fr;
        row-gap: 5rem;
      }

      &__left,
      &__right {
        justify-self: center;
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
}

@media (max-width: 520px) {
  .main {
    .header,
    .block-one,
    .block-two,
    .block-four {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }

    .block-one {
      &__left {
        container-type: normal;
        clear: right;
      }
      .title {
        font-size: 9cqi;
      }
    }
    .block-four {
      &__block {
        grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      }
    }
    .block-five {
      grid-template-columns: 1fr;
    }
    .block-six {
      &__left,
      &__right {
        width: 100%;
      }

      &__card-title {
        flex-direction: column;
      }
    }
  }
}
