@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap");

@import "_mixins";

html {
  font-size: 10px;
}
body {
  background: #b2b2b2;
}

$white: #fff;
$yellow: #f6ad09;
$gray: #b2b2b2;
$transformBtn: translateY(4px);

.title {
  @include fontTitle;
  @include dot;
}
.item {
  @include fontItem;
}

.main {
  max-width: 1600px;
  margin: 0 auto;

  a {
    transition: all 0.2s linear;
  }
  a:hover {
    color: #ffbb00;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    background: #000;
    box-sizing: border-box;
    padding: 3rem 22.8rem 3rem 22rem;

    .logo {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 36px;
      line-height: 30px;
      color: #fff;
    }
    .nav {
      justify-self: flex-end;

      &__list {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 3.2rem;

        display: flex;
        column-gap: 2.4rem;
      }

      &__link {
        color: #fff;
        transition: all 0.2s linear;
        &:hover {
          color: #ffbb00;
        }
      }

      .burger {
        position: relative;
        display: none;
        background: none;
        border: none;
        width: 3.2rem;
        height: 2.4rem;

        &__line {
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $white;
          transition: all 0.1s linear;
        }
        &__line-first {
          top: 0;
        }
        &__line-second,
        &__line-third {
          top: 50%;
          transform: translateY(-50%);
        }
        &__line-fourth {
          bottom: 0;
        }
      }
      .burger.active .burger__line-first,
      .burger.active .burger__line-fourth {
        opacity: 0;
      }
      .burger.active .burger__line-second {
        transform: translateY(-50%) rotate(45deg);
      }
      .burger.active .burger__line-third {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
    .nav-mobile {
      background-color: #2e2e2e;
      // background-color: #1e1e1e;
      position: fixed;
      top: 80px;
      left: 0;
      right: auto;
      height: 100%;
      max-width: 80%;
      width: 400px;
      z-index: 1;
      overflow: auto;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      transform: translateX(-100vw);
      transition: all 0.25s linear;

      box-sizing: border-box;
      padding: 0 4rem 10rem;

      &__item {
        padding-top: 4rem;
      }

      &__link {
        @include fontFooterItem;
        &:hover {
          color: #ffbb00;
        }
      }
    }
    .nav-mobile.active {
      transform: none;
    }
  }

  .block-one {
    box-sizing: border-box;
    padding: 0 14rem 10.6rem 22rem;

    background: #000;

    &__image {
      float: right;
      max-width: 51.5%;
      margin-bottom: 5%;
      margin-left: 5.75%;
    }

    &__left {
      container-type: inline-size;
      padding-top: 15.7%;
    }

    .title {
      font-size: 12cqi;
      line-height: 13cqi;
    }
    .item {
      margin-top: 3.2rem;
    }

    &__btn {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: #332200;

      border: none;
      background: $yellow;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 19px 32px 16px 29px;
      margin-top: 3.2rem;

      transition: all 0.1s linear;
      &:active {
        transform: $transformBtn;
      }
    }
  }

  .block-two {
    background: $white;
    box-sizing: border-box;
    padding: 14.6rem 7rem 19.2rem;

    .title {
      @include titleBlack;
      padding-left: 14rem;
      span:after {
        right: -8%;
        width: 8%;
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
      gap: 4rem;

      box-sizing: border-box;
      margin-top: 4.4rem;

      &__link:active .card__image {
        transform: $transformBtn;
      }
      .card {
        &__image {
          transition: all 0.1s linear;
        }
        &__title {
          position: relative;
          font-family: "Poppins";
          font-weight: 600;
          font-size: 32px;
          line-height: 40px;
          color: #111111;

          box-sizing: border-box;
          padding-left: 31px;
          margin-top: 15px;

          &::before {
            @include yellowRectangle;
          }
        }
        &__item {
          font-family: "Roboto";
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #595959;

          box-sizing: border-box;
          padding-left: 31px;
          margin-top: 10px;
        }
      }
    }
  }

  .block-three {
    position: relative;
    box-sizing: border-box;
    padding: 0 7rem 9.5rem 21.1rem;
    background: #111111;

    &__image {
      float: right;
      width: 53%;
      margin-top: -6.5%;
      margin-left: 6%;
    }
    &__left {
      container-type: inline-size;
      box-sizing: border-box;
      padding-top: 8.1rem;

      &-caption {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        color: $gray;
      }
      .title {
        font-size: 12cqi;
        line-height: 13cqi;
        margin-top: 1.9rem;

        span:after {
          right: -3%;
          bottom: 23%;
          width: 2%;
        }
      }
    }
    .item {
      margin-top: 3.8rem;
    }
    &__left-choise {
      position: relative;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #ffbb00;
      margin-top: 2.6rem;

      &::after {
        content: "";
        position: absolute;
        bottom: -20%;
        left: 0%;
        width: 268px;
        border-bottom: 4px solid #ffbb00;
      }
    }
    .choise-models {
      display: flex;
      gap: 2.3rem;
      margin-top: 6.9rem;

      &__title {
        position: relative;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: $white;

        box-sizing: border-box;
        padding-left: 29px;

        &::before {
          @include yellowRectangle;
        }
      }
      &__item {
        font-family: "Roboto";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        margin-top: 16px;
      }
    }
  }

  .block-four {
    background: $white;
    box-sizing: border-box;
    padding: 17.8rem 7rem 10.8rem;

    .title {
      @include titleBlack;
      padding-left: 14rem;

      span:after {
        right: -4%;
        bottom: 23%;
        width: 3%;
      }
    }

    &__block {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      justify-content: space-evenly;
      column-gap: 2.1rem;
      row-gap: 1.3rem;
      margin-top: 4.3rem;
    }
  }

  .block-five {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
    background: #ffbb00;

    &__right {
      container-type: inline-size;
      padding-top: 38%;
      padding-right: 27%;
      padding-bottom: 11.5%;
      padding-left: 9%;
      box-sizing: border-box;
    }

    &__text {
      position: relative;
      font-family: "Merriweather";
      font-style: italic;
      font-weight: 900;
      font-size: 7cqi;
      line-height: 9.3cqi;
      color: #332200;

      &::before {
        content: "";
        position: absolute;
        background: url("../img/partners/“1.svg") 0 0 / 100% no-repeat;
        top: -4%;
        left: -8%;
        width: 8%;
        height: 15%;
      }
      &::after {
        content: "";
        position: absolute;
        background: url("../img/partners/“2.svg") 0 0 / 100% no-repeat;
        right: -8%;
        bottom: -8%;
        width: 8%;
        height: 15%;
      }
    }

    &__signature {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 5cqi;
      line-height: 6cqi;
      color: #664400;
      margin-top: 1.2rem;
    }
  }

  .block-six {
    background: #161616;
    box-sizing: border-box;
    padding: 7.3rem 0 10rem;

    .title {
      box-sizing: border-box;
      padding-left: 21rem;
    }

    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 2%;
      margin-top: 3.6rem;
    }

    &__left,
    &__right {
      width: 456px;
      justify-self: flex-end;
      background: #000000;
      border-radius: 7px;
      box-sizing: border-box;
      padding: 3.3rem 2.8rem 2.8rem 5.7rem;
    }

    &__right {
      justify-self: flex-start;
    }

    &__card-title {
      display: flex;
      justify-content: space-between;
    }

    &__card-title-left {
      @include fontPrata;
    }

    .gold {
      color: #ffbb00;
    }

    &__card-title-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .price {
        @include fontPrata;
        color: $white;
      }

      .string {
        @include fontPrata;
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__card-item {
      position: relative;
      font-family: "Roboto";
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: $white;
      margin-top: 16px;

      &::before {
        @include yellowRectangle;
        top: 40%;
        left: -3rem;
        width: 15px;
        height: 5px;
      }
    }

    &__card-btn {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #cccccc;
      text-transform: uppercase;

      border: none;
      background: #2e2e2e;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 16px 28px;
      margin-top: 3.5rem;

      transition: all 0.1s linear;
      &:active {
        transform: $transformBtn;
      }
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1.4fr 1.9fr 2.4fr;
    grid-template-rows: 1fr auto;

    box-sizing: border-box;
    // padding: 5.6rem 0 4.6rem 12.75%;
    padding: 5.6rem 0 0 12.75%;
    background: #000;

    &__logo {
    }
    &__logo-text {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 36px;
      line-height: 32px;
      color: $white;
    }
    &__contacts {
      margin-top: 10px;
    }
    &__contacts-title {
      @include fontFooterTitle;
    }
    &__contacts-nav {
      margin-top: 31px;
    }
    &__contacts-list {
    }
    &__contacts-item:last-of-type {
      margin-top: 3rem;
    }
    &__contacts-link {
      @include fontFooterItem;
    }
    &__social {
      margin-top: 20px;
      display: flex;
      column-gap: 32px;

      &-link {
        width: 3.2rem;
        display: inline-block;
      }
    }
    &__inform {
      margin-top: 10px;
    }
    &__footer-title {
      @include fontFooterTitle;
    }
    &__inform-nav {
      margin-top: 31px;
    }
    &__inform-lift {
    }
    &__inform-item {
    }
    &__inform-link {
      @include fontFooterItem;
      font-family: "Poppins";
      font-weight: 500;
      line-height: 36px;
    }
    &__under {
      @include fontFooterItem;
      grid-row: 2;
      grid-column: 1/3;
      padding: 5.6rem 0 4.6rem;
    }
  }
}
